
body{
  background: url('../public/logo.png');
  background-size: cover;
}
.main-output{
  background: linear-gradient(to right top, rgba(251, 255, 256, 0.649),rgba(21, 5, 243, 0.603));
  border-radius: 2rem;
  width: 90%;
  margin-left: 5%;
  height: 103vh;
  
  padding: 20px;
}