
body{
  background: url('../public/background-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.main-output{
  background: linear-gradient(to top right, rgba(255, 255, 243, 0.568),rgba(21, 5, 243, 0.603));
  border-radius: 2rem;
  width: 90%;
  height: 100vh;
  margin-left: 5%;
  padding: 20px;
}

@media screen and (max-width: 520px) {
 body{
  background: none;
 }
 .main-output{
  margin-left: 2;
 }  
}