.filter{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.byPriority, .byProject{
    margin-left: 5%;
    width: 90%;
    height: 40vh;
    overflow-x: scroll;
    flex-direction: row;
    background-color: #e4e3e3;
    border-radius: 20px;
    margin-top: 1rem;
}
.searchTitle{
    margin-top: 1rem;
    background-color: rgb(111, 5, 209);
    border-radius: 7px;
    width: 20%;
    color: white;
    font-size: larger;
    text-align: center;
    padding: 10px 0px 10px 0px;
   
}
.card-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: white;
    border-radius: 20px;
    color: rgb(0, 0, 12);
    font-family: cursive;
    box-shadow: 2px 4px 5px rgba(19, 3, 241, 0.89);

}

button{
    color: white;
    background-color: rgb(111, 5, 209);
    border-radius: 0px 12px 12px 0px;
    height: 2.5rem;
    cursor: pointer;

}
select{
    height: 2.5rem;
    border-radius: 12px 0px 0px 12px;
}