
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(50, 40, 187, 0.096);
    width: 94%;
    padding: 10px;
    margin-left: 3%;
    border-radius: 10px;
  
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    color: #3e0475;
    padding: 0.35rem 1rem 0.35rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
   
  .nav-item {
    display: flex;
    align-items: center;
    gap: 3rem;
   
  }
  
  .nav-links {
    text-decoration: none;
    color: rgb(244, 243, 245);
    font-size: larger;
  }
  .signUp-link{
    background-color: rgba(255, 255, 255, 0.096);
    text-decoration: none;
    color: rgb(244, 241, 250);
    font-size: larger;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px; 
  }
  

  