.container{
    overflow-y: hidden;

}

.heading{
    text-align: center;
    color: rgba(74, 49, 185, 0.997);

}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.left{
    width: 33%;
    margin-left: 5%;
    line-height: 2.5;
    text-align: left;   
}
.left> h2{
    text-align: left;
}

.left> h5{
   
    font-size: 1rem;
}
.right{
    
    margin-right: 5%;
}
.right> img{
    border-radius: 50%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgba(74, 49, 185, 0.997);
    font-size: large;
    border: none;
    border-radius: 10px;  
    text-decoration: none;
    width: 10rem;
    font-weight: 700;
    color: rgb(248, 244, 244);
}

.footer{
    display: flex;
    justify-content: space-around;
}
.left-circle, .right-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 15, 145, 0.411);
    width: 70px; 
    height: 70px; 
    border-radius: 50%;
}
.left-description1, .right-description2{
    margin-left: -17rem;
}