.container{
    color: aliceblue;
}
.heading{
    text-align: center;
}
.content{
    width: 28%;
    margin-left: 5%;
    line-height: 2.5;
}
.button{
    background-color: aqua;
    font-size: large;
    border: none;
    border-radius: 10px;  
    text-decoration: none;
    padding: 5px;
    font-weight: 700;
    color: black;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-circle, .right-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 14, 73);
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}
.left-description1, .right-description2{
    margin-left: -15rem;
}