.container{
    overflow-y: hidden;

}
.heading{
    text-align: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.left{
    width: 28%;
    margin-left: 5%;
    line-height: 2.5;
    
}
.right{
    
    margin-right: 10%;
}
.right> img{
    border-radius: 50%;
}

.button{
    background-color: rgba(89, 7, 182, 0.997);
    font-size: large;
    border: none;
    border-radius: 10px;  
    text-decoration: none;
    padding: 8px;
    font-weight: 700;
    color: rgb(248, 244, 244);
}

.footer{
    display: flex;
    justify-content: space-around;
}
.left-circle, .right-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 15, 145, 0.411);
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}
.left-description1, .right-description2{
    margin-left: -15rem;
}