.tasks{
    display: flex;
    justify-content: space-around;
}
.scheduled, .progress, .completed{
    background-color: #e4e3e3;
    border-radius: 12px;
    margin-top: 1rem;
    width: 30%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.title-btn{
    background-color: rgb(111, 5, 209);
    border-radius: 10px;
    height: 2rem;
    width: 75%;
    color: aliceblue;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.card{
    background-color: white;
    border-radius: 20px;
    width: 75%;
    color: rgb(0, 0, 12);
    font-family: cursive;
}
.card> h5{
    margin-left:1.5rem;
}

.card #due{
    color: brown;
}
.card #complete{
    color: green;
}
.card #delete, #edit{
    color: brown;
    cursor: pointer;
}

.delEdit{
    display:flex;
    justify-content: space-around;
}

#done{
    cursor: pointer;
    margin-left: 2.5rem;
}

@media screen and (max-width: 730px) {
    .tasks{
       flex-direction: column;
        overflow-y: scroll;
    }
    .scheduled, .progress, .completed{
        width: 90%;
        height: 100vh;
    }
    .card{
        font-size: small;
    

    }
}
