.simple-form{
    width: 50%;
    border-radius: 7%;
    margin-left: 25%;
    margin-top: 2%;
    background-color: rgba(229, 229, 241, 0.678);
    font-family: cursive;
  
}
input, select, label, p{
    border: none;
    border-radius: 10px;
    margin-left: 25%;
    width: 50%;
    
}
label{
    font-weight: 700;
    
}
span{
    color: brown;
    margin-left: 25%;
}
input, select{
    /* margin-top: 10px; */
    margin-bottom: 20px;
    height: 25px;
}
h2{
    text-align: center;
   
}
.btn-login{
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: 45%;
    margin-bottom: 2%;
    color: aliceblue;
    font-weight: 700;
    background-color: rgb(111, 5, 209);
}
.float-Btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 2rem;
    background-color: rgba(229, 229, 241, 0.678);
}
.float-Btn>h5{
    color: rgb(111, 5, 209);
    cursor: pointer;
}