.sidenav{
    display: flex;
    flex-direction: column;
    width: 15%; 
    background-color: #ccc;
}
.logo{
    margin-top: 10%;
    margin-left: 15%;
    color: rgb(111, 5, 209);
    font-weight: 900;
    font-size: x-large;
}
.sidenav-wrapper{
    line-height: 4;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidenav-item{
    font-size: large;
    padding-left: 2rem;

}
.sidenav-item:hover{
    background-color: #fff;
}