.sidenav{
    display: flex;
    flex-direction: column;
    width: 18%; 
    background-color: #ccc;
}
.logo{
    margin-top: 10%;
    margin-left: 15%;
    color: rgb(111, 5, 209);
    font-weight: 900;
    font-size: x-large;
}
.sidenav-wrapper{
    line-height: 4;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidenav-item{
    font-size: large;
    padding-left: 3rem;
    cursor: pointer;
}
.sidenav-item:hover{
    background-color: #fff;
}

@media screen and (max-width: 943px) {
    .sidenav-item{
        font-size: small;
        padding-left: 10px;
    
    }
    .logo{
    font-weight: 700;
    font-size: large;
    margin-left: 2%;

    }
}

@media screen and (max-width: 415px) {
    .sidenav{
        width: 20%;
    }
    .sidenav-item{
        font-size: small;
        padding-left: 0px;
    
    }
    .logo{
        font-weight: 700;
        font-size: small;
        }
}

